.product_Detail_img {
  width: 300px;
  height: 300px;
}
.product_info {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-around;
}
.product_keys {
    width: 40%;
    
 
}
.product_values{
    width: 50%;
}
